<html>
<body background="/static/cotton-flower.jpg">	  
			
                    <a href="/"><img id="logo" src="/static/logo.gif" with="154" height="74" alt="" title=""/></a>
                      <b>
                      <li class="active" ><a href="index.html">HOME -- working on it</a></li>
											<li><a href="createconf">CREATE CONFERENCE</a></li>
											<li><a href="list_conf">LIST CONFERENCE</a></li>
											<li><a href="blog.html">BLOG -- working on it</a></li>
											<li><a href="contact.html">CONTACT -- working on it</a></li>
                      <li class="last" ><a href="login_page">LOGIN</a></li>
                    </b>
										</ul>
											    <p>
										      	<li><a href="admin">admin panel</a></li>
												</p>
												
    <span>&copy; Copyright &copy; 2012.</span>
    <span><b><a href="/">EventSter</a></b> all rights reserved</span>
</body>
</html>
