<html>
<style type="text/css">
body {
padding-top: 80px;
padding-bottom: 40px;
background-color: #f5f5f5;
}

.form-signin {
padding: 19px 20% 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
}
</style>
<title> Create Event </title>
<body>
    {% include "eventster/top_pad.html" %}

{% block content %}
{% if user.is_authenticated %}
	<form class="form-signin" action="/createconf/" method="post">
	{% csrf_token %}
	<h3 class="form-signin-heading">Hi {{user.first_name}}, create an Event by filling out the form below!</h3>
        <div class="input">
          <textarea class="xlarge" id="name" name="name" rows="1" placeholder="Event Name"  maxlength=50  ></textarea>
	</div>
	<label for="textarea">Agenda/discription</label>
            <div class="input">
              <textarea class="xxlarge" id="Agenda" name="Agenda" rows="5" maxlength=500 ></textarea>
	    </div>
	<!--<input type="text" class="xxlarge" maxlength=500 placeholder="Agenda" name="Agenda" value="" id="Agenda"-->
	<p><label for="genre">Genre:</label> <select name="genre" id="genre">
	<option value="" selected="selected">---------</option>
	<option value="educational">educational</option>
	<option value="social">social</option>
	<option value="entertainment">entertainment</option>
	<option value="business">business</option>
	</select></p>
        <div class="input">
          <textarea class="xlarge" id="location" name="location" rows="1" placeholder="Location"  maxlength=40  ></textarea>
	</div>
	<div id="datetimepicker1" class="input-append">
	  <input data-format="yyyy-MM-dd"  class="xlarge" id="date" name="date" rows="1" placeholder="date" ></input>
	  <span class="add-on">
	    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
	    </i>
	  </span>
	</div>
	<div id="datetimepicker2" class="input-append">
	  <input data-format="hh:mm:ss"  class="xlarge" id="time" name="time" rows="1" placeholder="time" ></input>
	  <span class="add-on">
	    <i data-time-icon="icon-time" data-date-icon="icon-calendar">
	    </i>
	  </span>
	</div>
	<p><label for="private">Private:</label> <input type="checkbox" name="private" id="private" /></p>
	<button class="btn btn-large btn-primary" type="submit">Continue</button>
	<br>
	<br>
	</form>
  {% else %}
  <div class="form-signin">
    <h3 class="form-signin-heading">Plese login before creating an Event</h3>
    <a class="btn btn-large btn-primary" href="/login_page/?forward=/createconf/"  >Login</a>
  </div>
{% endif %}
	
{% endblock %}

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      pickTime: false
    });
  });
  $(function() {
    $('#datetimepicker2').datetimepicker({
      pickDate: false
    });
  });
</script>
 <script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>
