<html>
  <body>
{% include "eventster/top_pad.html" %}
{% if confdetail %}
<ul>
    <b> Conference Details : </b>
    <li>ID is:<b> {{ confdetail.id }}</b></li>
    <li>Name is:<b> {{ confdetail.name }}</b></li>
    <li>Agenda is:<b> {{ confdetail.Agenda }}</b></li>
    <li>Genre is:<b> {{ confdetail.genre }}</b></li>
    <li>Location is:<b> {{ confdetail.location }}</b></li>
    <li>Time is:<b> {{ confdetail.time }}</b></li>
    <li>Owner name is:<b> {{ confdetail.owner }}</b></li>
  </ul>
{% else %}
  <p>Invalid Conf ID.</p>
  {% endif %}

</body>
</html>
