<html>
<body background="/static/cotton-flower.jpg">	  
<div id="background">
<div id="page">			  
			
					 <div class="header">
						<div class="footer">
							<div class="body">
							  
									<div id="sidebar">
                    <a href="/"><img id="logo" src="/static/logo.gif" with="154" height="74" alt="" title=""/></a>
									
										
                    <ul class="navigation">
                      <b>
                      <li class="active" ><a href="index.html">HOME -- working on it</a></li>
											<li><a href="createconf">CREATE CONFERENCE</a></li>
											<li><a href="list_conf">LIST CONFERENCE</a></li>
											<li><a href="blog.html">BLOG -- working on it</a></li>
											<li><a href="contact.html">CONTACT -- working on it</a></li>
                      <li class="last" ><a href="login_page">LOGIN</a></li>
                    </b>
										</ul>
										
										<div class="connect">
										    <a href="http://facebook.com/freewebsitetemplates" class="facebook">&nbsp;</a>
											<a href="http://twitter.com/fwtemplates" class="twitter">&nbsp;</a>
											<a href="http://www.youtube.com/fwtemplates" class="vimeo">&nbsp;</a>
										</div>
										
										<div class="footenote">
										
									</div>
									<div id="content" >
										<div class="featured">
										      <div class="header">
											     <ul>
														<li class="first">
															<!--<p>hi.</p> -->
															<img src="/static/hi.jpg" width="50" height="62" alt="" title="" >
														</li>
														<li class="last">
															<p>
																EventSter is the BAU5555 ;)
															</p>
														</li>
												 </ul>
											  </div>
											  <div class="body">
											    <p>
										      	<li><a href="admin">admin panel</a></li>
												</p>
												
												
											  </div>
									    </div>
									</div>
						</div>
					 </div>
					 <div class="shadow">&nbsp;</div>
			  </div>    
	  </div>    
	
    <span>&copy; Copyright &copy; 2012.</span>
    <span><b><a href="/">EventSter</a></b> all rights reserved</span>
    </div>
</body>
</html>
